body {
    font-family: Arial;
    padding: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 150px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
